.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(214, 185, 169);
  background: linear-gradient(
    179deg,
    rgba(214, 185, 169, 1) 0%,
    rgba(240, 252, 252, 1) 100%
  );
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  width: 70rem;
  padding: 1rem 2rem 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(201, 203, 230, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card {
  padding: 1rem 2rem 1rem 2rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 70rem;
  text-align: left;
  list-style-type: none;
  padding-bottom: 2px;
  font-size: 2em;
  justify-content: space-between;
}

.card:hover,
.card:focus,
.card:active {
  border-color: rgba(255, 255, 255, 0.25);
}

.form {
  flex: flex-start;
  margin: 10px 0 10px 0;
  justify-content: space-between;
}

.input {
  width: 80%;
  height: 2rem;
  border-radius: 10px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1rem;
}

.title .button {
  font-size: 0.35em;
  border-radius: 10px;
  margin-left: 20px;
  justify-content: end;
  cursor: pointer;
}

.card .button {
  border-radius: 10px;
  margin-left: 20px;
  font-size: 0.875em;
  cursor: pointer;
}

.card li:hover,
.card li:focus,
.card li:active {
  color: #fff;
}

.card li {
  margin: 2px 0 2px 0;
  display: flex;
  justify-content: space-between;
}
